body{
    font-family:"Lucida Sans" ;
    margin:0;
    padding: 20px;
    text-align: center;
}
    h1{
        font-size: 2em;
        margin-bottom: 20px;
        color: darkslategray;
    }
label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea{
    border: 1px solid;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 5px;
}
.form-group
margin-botton: 20px;
{
font-family:monospace;

}
button{
    background-color: aliceblue;
    color: darksalmon;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}
button [type="reset"]{
    background-color: crimson;
}
h1{
    font-family: geogia;
}
label{
    font-family: Georgia, serif;

}
input[type="text"],
input[type="email"],
input[type="password"]{
    font-family:Courier new,monospace
}


